{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter Arquivos</title>
    <link rel="stylesheet" href="{% static 'style/estilo.css' %}">
</head>

<body>
    <nav>
        <div>
            <button><a href="{% url 'index' %}">voltar</a></button>
            <select id="links" onchange="redirectToLink(this)">
                <option value="">Conversores</option>
                <option value="{% url 'conversao' %}">Conversor de Vídeo</option>
                <option value="{% url 'conversao' %}">Conversor de Áudio</option>
                <option value="{% url 'conversao' %}">Conversor de Imagem</option>
                <option value="{% url 'conversao' %}">Conversor de Planilhas</option>
            </select>
            <button><a href="">Ajuda</a></button>
            <button><a href="">Sobre</a></button>
        </div>
        <div>
            <p>

            </p>
            <figure>
                <img src="" alt="">
            </figure>
        </div>
    </nav>
    <div>
        <h1>
            Converter Arquivos
        </h1>
    </div>
    <div>
        <h2>Conversão</h2>
        <p>
            Para converter o arquivo, verifique os formatos suportados, selecione ou arraste o arquivo desejado até a
            área indicada. Em seguida, escolha o formato de saída dentre os disponíveis.
        </p>
    </div>
    <div id="drop-zone">
        <figure>
            <img src="{% static 'images/upload.png' %}" alt="upload" width="80">
        </figure>
        <p>Selecione ou Arraste seus arquivos aqui.</p>
        <form class="fileForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <select id="format-select">
                <option value="">Selecione o formato de saída</option>
                <option value="pdf">PNG</option>
                <option value="docx">JPG</option>
                <option value="txt">TXT</option>
            </select>
            <button type="submit" class="button">Enviar</button>
        </form>
    </div>
    <div>
        <h2>Simplicidade</h2>
        <p>
            O conversor pode ser acessado em qualquer dispositivo com acesso à internet, não é necessário a instalação
            de nenhum programa em seu dispositivo.
        </p>
    </div>
    <figure>
        <img src="{% static 'images/pdf.png' %}" alt="pdf" width="80">
    </figure>
    <div>
        <h2>Variedade de Formatos</h2>
        <p>
            A ferramenta funciona com diversos tipos de documentos diferentes como TXT, DOCX, PDF e ODT. Além disso,
            todas as conversões são feitas na nuvem, portanto, nenhuma conversão ocupará espaço no seu armazenamento.
        </p>
    </div>
    <figure>
        <img src="{% static 'images/docx.png' %}" alt="docx" width="80">
    </figure>
    <div>
        <h2>Feedback</h2>
        <form action="">
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button><a href="">>></a></button>
        </form>
    </div>
    <script>
        function uploadFiles(files) {
            const formData = new FormData();
            const selectedFormat = document.getElementById('format-select').value;
            formData.append('format', selectedFormat);
            for (const file of files) {
                formData.append('files', file);
            }

            fetch('/upload/', {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error('Erro ao enviar o arquivo:', error);
                });
        }

        // adicionando chave aleatória

        chaveCampo = document.getElementById('id_chave')

        function chaveSeguranca(){
            const caracteres = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
            let chave = ''
            
            for (let i = 0; i < 25; i++) {
                const indice = Math.floor(Math.random() * caracteres.length)
                chave += caracteres[indice]
            }
            
            chaveCampo.value = chave
        }

        chaveSeguranca()
    </script>
</body>

</html>